/* Set background image */
.chat-container {
  background-image: url('https://www.visitkranj.com/files/Produkti/hotel-brdo/dsc-1963.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bpw-powered {
  display: none ;
}


